aiohttp==3.8.6
aiosignal==1.3.1
aiosqlite==0.17.0
async-timeout==4.0.3
attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.0
decouple==0.0.7
frozenlist==1.4.0
idna==3.4
Kvsqlite==0.2.1
multidict==6.0.4
opentele==1.15.1
pyaes==1.6.1
pyasn1==0.5.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
Pyrogram==2.0.106
PySocks==1.7.1
pyTelegramBotAPI==4.14.0
requests==2.31.0
rsa==4.9
schedule==1.2.1
six==1.16.0
Telethon==1.31.1
TGConvertor==0.0.7
TgCrypto==1.2.5
typing_extensions==4.8.0
urllib3==2.0.7
user-agent==0.1.10
yarl==1.9.2